@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Montserrat:300,400|Raleway:300,400,700|Roboto:300,900');
$background: rgba(233, 233, 240, 0.535);
$primary: #C03221;
$primary80: rgb(189, 70, 57);
$primary50: rgba(192, 49, 33, 0.501);
$primary30: rgba(192, 49, 33, 0.316);
$primary-dark: #373D3F;
$primary-light: #CBCBD1; 
$white: #F5F3EE;

$opacity10: rgba(255, 255, 255, 0.118);
$opacity30: rgba(255, 255, 255, 0.30);
$opacity50: rgba(255, 255, 255, 0.50);
$opacity80: rgba(255, 255, 255, 0.80);
